.header{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow-x: scroll;
}
.header::-webkit-scrollbar{
    display: none;
}
.header{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.header__icons{
    display: flex;
    align-items: center;
    text-align: center;
}
.header__icon{
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor:pointer;
    width: 60px;
}
.header__icon:hover > p{
    display: inline-flex !important;
}
.header__icon > p{
    display: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size:small;
    margin-left: auto;
    margin-right: auto;

}
.header__icon > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: auto;
}
.header__icon--active > p{
    display: inline-flex !important;
} 
.header > img{
    object-fit: contain;
    height: 80px;
}
