.videoCard{
    display: flex;
    flex-direction: column;
    color: white;
    height: 300px;
    width: 400px;
    padding: 20px;
    transition: transform 100ms;
    cursor: pointer;
}
.videoCard:hover{
    transform: scale(1.04);
}
.videoCard >img{
    object-fit: contain;
    width: 400px;
    height: 200px;
}
.videoCard>h2 {
    padding-top:10px;
    margin-left: 20px;
}
.videoCard>p{
    margin-left: 20px;
}
.videoCard_stats{
    display: none;
}
.videoCard:hover > .videoCard_stats{
    display: inline-flex;
}